<h1>Composer List</h1>

<table border="1">
  <% @composers.each do |composer| %>
    <tr>
      <td><%= link_to "#{composer.last_name}, #{composer.first_name}", composer %></td>
    </tr>
  <% end %>
</table>

