<div class="page-body composer-page">
  <h1><%= "#{@composer.first_name} #{@composer.last_name}" %></h1>
  <div class="page-content composer-content">
    <%= render partial: "events/event_list_composer", locals: {events: @composer.events} %>
  </div>
</div>
