<div class="page-body events-page">
  <h1><%= event_page_title %></h1>
  <div class="page-content events-content">
    <%= render partial: "event_list_today", locals: {events: @events} %>
  </div>
</div>
