<h1>Today in History</h1>
<table border=1>
  <% @events.each do |event| %>
    <tr>
      <td><%= event.date %> </td>
      <td><%= event.category.name %> </td>
      <td><%= event.description.html_safe %> </td>
    </tr>
  <% end %>
</table>
