<div class="landing-page-body">
  <div class="headline-box">Choose a date to see what happened in music and history</div>
  <input class="date-select-from" type="date" value="2010-03-05"></input>
  <button class="date-select-button">go</button>
</div>

<!--
<%= render partial: "event_list", locals: {events: @events} %>
-->
<div class="footer">
  <div class="footer-separator">
  </div>
  <div class="footer-body">
    <div class="back-to-top">back to top</div>
    <div class="headline">Today in Music History: <%= todays_formatted_date_no_year %></div>
    <%= render partial: "footer_event", locals: {event: @random_event} %>
    <button class="more-events-button">more events</button>
  </div>
</div>
