<h1>Today in History</h1>
<label>Start Date</label>
<input type="date" value="2010-03-05"></input>
<label>End Date</label>
<input type="date" value="2010-03-1001"></input>
<br><br>

<%= render partial: "event_list", locals: {events: @events} %>
