<div class="about-page">

  <div class="page-box">
    
      <section class="body-text">
        <h1>About</h1>
  
          <p>
          Within these pages, important musical events over the last 250 years are listed chronologically along with general historical events. We pay homage to the fact that composers live in the world. They affect the world and are affected by it. If one reads any of these files for any length, one can understand how the music being produced fits within the culture and historical period.music relative to world history.
          </p>
          
          <p>
          This survey begins in 1752. That was the year that the British Empire converted to the Gregorian calendar. Before this, being sure about a specific date is very difficult. Many authors do not seem to know that there were different calendars between Britain and the Continent. Others do not seem to care. That problem also applies to Russia which did not convert to the Gregorian calendar until 1918; but we have tried to compensate for that. If you spot a Russian event on the wrong date, please let us know.
          </p>
          
          <p>
          We have attempted to place everything in the Gregorian calendar. Dates are according to local time. (This can sometimes be confusing. For instance, the Japanese attack on Malaya on December 8, 1941 actually happened before their attack on Pearl Harbor on December 7, 1941.) Some attempt has been made to keep the chronological order for multiple items within one date, but this is next to impossible to ensure.
          </p>
          
          <p>
          Many composers are underrepresented in this survey. Click here to see a list of composers who should have more of their lives and works in these pages. If you know of sources where one may find biographical information, or information on first performances for any of these artists, please contact us. Any source you suggest must have exact dates.
          </p>
          
          <p>
          Some caveats apply:
          </p>
          <ol>
          <li> If you find a mistake, or if you see things that seem contradictory, please contact us and gently point it out. Please cite specific scholarly sources for any correction you wish to suggest.</li>
          <li>The focus in the early decades is euro-centric, in music and history. As western art music took in more and more non-western sources, the focus begins to spread out to encompass the entire planet.</li>
          <li>No historical events are included for the last ten years.</li>
          </ol>
          
          <p>
          Let us know if you find this site useful. We would like to hear all constructive comments.
          </p>
        </section><!-- end body text-->
  
  
  <section class="about-sidebar">
    
      <div class="picture">
        <%= image_tag("prokofiev1918.jpg") %>
      </div>
      <div class="picture-caption"><a href="#">Sergei Prokofiev</a> in New York, 1918</div>
      
      <div class="picture">
       <%= image_tag("nicholas1917.jpg") %>    
      </div>
      <div class="picture-caption">Czar Nicholas II of Russia after his abdication in 1917</div>    
  </section><!--end sidebar-->
  
  </div><!-- end page box-->
</div><!-- end about page -->