<div class="about-page">

<div class="page-box">
  
    <section class="body-text">
  <h1>About</h1>
      <p>
      Lorem ipsum dolor sit amet, pertinax vituperata ei qui, id altera dicunt vix. An sale dictas eum, usu latine appellantur ne, an porro causae mei. Sit augue discere expetenda ea, fabulas inimicus et sit, sed ne accusamus assentior. Mel ei tempor postea, no nam suscipiantur mediocritatem. Ex est nullam interpretaris, quo modo vero putant ne. Erant quaerendum est no, pro amet oratio an, oratio propriae duo ne.
      </p>
      
      <p>
      Nam id reque delicata. No postea fuisset gloriatur eum, quem diam sententiae sed ad. Te unum ludus putant vel, est animal dissentiunt ea. Nec etiam erant scripta at. Mentitum persequeris ad mei, sonet luptatum sententiae at cum. Facete melius maluisset his ex, amet possit insolens eu mea, no ius porro verear.
      </p>
      
      <p>
      Lorem ipsum dolor sit amet, pertinax vituperata ei qui, id altera dicunt vix. An sale dictas eum, usu latine appellantur ne, an porro causae mei. Sit augue discere expetenda ea, fabulas inimicus et sit, sed ne accusamus assentior. Mel ei tempor postea, no nam suscipiantur mediocritatem. Ex est nullam interpretaris, quo modo vero putant ne. Erant quaerendum est no, pro amet oratio an, oratio propriae duo ne.
      </p>
      
      <p>
      Nam id reque delicata. No postea fuisset gloriatur eum, quem diam sententiae sed ad. Te unum ludus putant vel, est animal dissentiunt ea. Nec etiam erant scripta at. Mentitum persequeris ad mei, sonet luptatum sententiae at cum. Facete melius maluisset his ex, amet possit insolens eu mea, no ius porro verear.
      </p>

      </section>

<section class="about-sidebar">
  <div class="picture">
    
  </div>
    <div class="picture-caption">caption</div>
    
<div class="picture">
    
  </div>
    <div class="picture-caption">caption</div>    


</section>

</div>
</div>