<div class="landing-page-body" style="background-image: url(<%= random_background_image %>)">
  <div class="headline-box">Choose a date to see what happened in music and history</div>
  <input class="date-select-from" type="date" value="2010-03-05"></input>
  <input class="date-select-from" type="date" value="2010-03-05"></input>
  <button class="date-select-button">go</button>
</div>
