<div class="page-body resources-page">
  <div class="page-box">
      <h1>Sources</h1>
         <section class="page-content resources-content body-text">

      <% @resources.each do |resource| %>
        <p class="resource-item"><%= resource.text.html_safe %></p>
      <% end %>
    </section>
  </div>
</div>
