<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Nane: <%= @message.name %> </h2>
    <h2>Email: <%= @message.email %></h2>
    <hr>
    <h2>Message</h2>
    <p><%= @message.content %></p>
  </body>
</html>
