body {
   margin: 0;
  padding: 0;
}


.page-body {
  margin: 0;
  padding: 0;
}

.page-content {
  padding-bottom: 50px;
}







.composers-page {
 background-color: $composers-page-background-color;
}


.events-page {
 background-color: $light-light-blue;
}
