// Base colors
$pink: #d2205f;
$light-blue: #29aae1;
$dark-blue: #1b1464;
$orange: #faaf3b;
$bright-green: #b9ff44;
$dark-grey: #333333;
$light-yellow: #fffce8;

// Derived colors
$light-blue: lighten($light-blue, 85%);
$light-orange: lighten($orange, 85%);
$light-green: lighten($bright-green, 80%);

// Functional color names
$header-color: $pink;
$date-color: $pink;
$footer-color: $light-blue;
$link-color: $dark-blue;
$button-outline-color: $dark-blue;
$footer-separator-color: $orange;
$body-type-color: $dark-grey;
$main-page-background-color: $light-yellow; 
$today-in-history-bckground-color: $light-blue;
$composers-page-background-color: $light-orange;
$about-page-backgroud-color: $light-green;
