// Base colors
$pink: #d2205f;
$light-blue: #29aae1;
$dark-blue: #1b1464;
$orange: #faaf3b;
$bright-green: #b9ff44;
$dark-grey: #333333;
$light-grey: #666666;
$light-yellow: #fffce8;

// Derived colors
$light-light-blue: tint($light-blue, 75%);
$light-orange: lighten($orange, 15%);
$light-green: lighten($bright-green, 80%);


@mixin button {
  @include border-top-radius(12px);
  @include border-bottom-radius(12px);
  background-color: white;
  border: 3px solid $dark-blue;
  font-family: $quick;
  font-size: 25px;
  color: $light-blue;
  font-weight: bold;
  padding: 0 5px 5px 5px;
  margin-top: 20px;
  letter-spacing: -1px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  &:hover {
    background-color: $light-light-blue;
    color: $dark-blue;
  }
}



@mixin border-radius15 {
  @include border-top-radius(15px);
  @include border-right-radius(15px);
  @include border-bottom-radius(15px);
  @include border-left-radius(15px);
}




// Functional color names
$date-color: $pink;
$nav-background-color: $light-blue;
$button-text-color: $light-blue;
$link-color: $dark-blue;
$button-outline-color: $dark-blue;
$body-type-color: $dark-grey;
$main-page-background-color: $light-yellow;
$today-in-history-bckground-color: $light-blue;
$composers-page-background-color: $light-orange;
$about-page-backgroud-color: $light-green;
$tagline-color: $light-grey;
