.footer-separator {
  background-color: $orange;
  @include display(flex);
  @include flex(1);
  justify-content: space-between;
    
    .back-to-top a, .back-to-top a:link, .back-to-top a:visited, .back-to-top a:hover, .back-to-top a:active {
      font-size: 18px;
      color: white;
      font-family: $quick;
      font-weight: bold;
      letter-spacing: -1px;
      margin-right: 30px;
      
        .fa-caret-up {
          padding-right: 3px;
          font-size: 26px;
  }
}
 
 
.twit {
  margin-left: 10px;
  margin-top: 4px;   
}

 
 
}


.footer {
  font-family: $treb;

  .footer-body {
    background-color: $light-blue;
    font-family: $treb;
    color: white;
    font-size: 16px;
    padding: 30px 200px;
    text-align: center;
    line-height: 1.5em;

    .more-events-button {
      @include button;
          }
  }
}


/*
.footer-body {
  @include display(flex);
  @include flex-direction(column);
}

.footer-top-row {
  @include flex(1);
  @include display(flex);
  @include flex-direction(row);
}
*/

.footer-random-event {
  margin-top: 10px;

}

.footer-title {
  @include flex(4);
  font-size: 22px;
  font-weight: bold;
}

.footer-todays-date-no-year {
  font-size: 18px;
  font-weigth: bold;
  color: yellow;
}

/*
.footer-event-body-text {
  padding-right: 400px;
}
*/



.footer a {
  color: $dark-blue;
   &:hover, a:active {
    color: $orange;
  }
  &:visited {
    color:$dark-blue;
  }

}







