.footer {
  font-family: $arial-font-family;

  .footer-separator {
    background-color: $footer-separator-color;
    height: 24px;
  }

  .footer-body {
    background-color: $footer-color;
    font-family: $arial-font-family;
    //padding-top: 32px;
    //padding-left: 30px;
    font-weight: bold;
    color: white;
    font-size: 16px;

    .more-events-button {
      @include border-top-radius(12px);
      @include border-bottom-radius(12px);
      background-color: white;
      border: 3px solid $button-outline-color;
      font-family: $quicksand-font-family;
      font-size: 30px;
      color: $button-text-color;
      font-weight: bold;
      margin-top: 20px;
      margin-left: 500px;
      margin-bottom: 30px;
    }
  }
}


.footer-body {
  @include display(flex);
  @include flex-direction(column);
}

.footer-top-row {
  @include flex(1);
  @include display(flex);
  @include flex-direction(row);
}

.headline {
  @include flex(4);
  font-size: 22px;
}

.back-to-top {
  @include flex(1);
  font-size: 18px;
}

.footer-event-row {
  @include flex(1);
}

.more-events-row {
  @include flex(1);
}

