ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
  text-align: center;
  background-color: $light-blue;
  padding: 4px;
  li {
    display: inline;
    a, a:link, a:visited {
      font-family: $quick;
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
      color: white;
      padding-right: 50px;
      &:hover {
        color: $dark-blue;
      }
    }
  }
}





.search {
  float: right;
  margin: 10px 10px 0 0;
  padding:8px 30px;
  border-radius: 18px;
  border: 3px $pink solid;
  width: 200px;
  background-image: url('search-icon.png');
  background-position: 10px 6px;
  background-repeat: no-repeat;

}

input.search {
  color: $pink;
  font-family: $treb; 
    @include placeholder {
    }
}




.page-logo {
  text-align: center;
  clear:both;
}

.page-tagline {
  font-family: $quick;
  font-size: 20px;
  color: $tagline-color;
  text-align: center;
  padding-bottom: 25px;
}



