.landing-page-body {
  font-family: $rob;
  height: 600px;

  .headline-box {
    font-size: 36px;
    color: white;
    width: 1000px;
    padding: 20px 20px 20px 20px;
    @include border-top-radius(20px);
    @include border-bottom-radius(20px);
    position: relative;
    top: 100px;
    left: 90px;
  }

  .date-select, .date-select {
    position: relative;
    top: 200px;
    left: 500px;
  }

  .date-select-button {
    position: relative;
    top: 250px;
    left: 400px;
    height: 50px;
    width: 75px;
    @include border-top-radius(12px);
    @include border-bottom-radius(12px);
    background-color: white;
    border: 5px solid $button-outline-color;
    font-family: $quicksand-font-family;
    font-size: 30px;
    color: $button-text-color;
    font-weight: bold;
  }
}
