//////////////COMMON/////////////


body {
  margin: 0;
  padding: 0;
  background-color: $light-blue;
}


.page-body {
  margin: 0;
  padding: 0;
}


.page-content {
  padding-bottom: 50px;
}


.page-box {
    background-color: white;
    position: relative;
    top: 30px;
    margin: 0 30px 0px 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 75px;

}    

.body-text {
    margin: 0 50px;
}

fieldset {
  border: none;
}


//////////////HOME/////////////


#date-select-end {
  display: none;
}

//required for toggle functionality
#date-range-checkbox {
  display: none;
}

.landing-page-body {
  font-family: $rob;
  height: 650px;
  background-repeat: no-repeat; 
  background-position: center;
  background-color: $light-grey;

  .headline-box {
    font-size: 36px;
    color: white;
    width: 95%;
    padding: 20px 20px 20px 20px;
    @include border-top-radius(20px);
    @include border-bottom-radius(20px);
    background-color: $pink;
    text-align: center;
    margin: 0px auto;
    position: relative;
    top: 100px;
    }


  .date-select {
    text-align: center;
    position: relative;
    top: 150px;
  }


  #date-select-end {
    margin-top: 10px;  
  }
  
 .form-container {
   text-align: center;
 } 

//go button
  .date-select-button {
    @include button;
    position: relative;
    top: 80px;
    margin-top: 0px;

  }
}

.field {
  height: 0px;
}


.month-picker-1, .day-picker-1, .year-picker-1, .month-picker-2, .day-picker-2, .year-picker-2 {
  background-color: white;
  font-size: 30px;
  padding: 5px;
  color: $light-blue;
}

.year-picker-1, .year-picker-2 {
  border-radius: 5px;
  color: $light-grey;
  border: none;
  font-size: 30px;
  font-family: courier;
  font-weight: normal;
  width: 100px;
  box-shadow: none;
  margin-right: 15px;
} 


.toggle-label {
  position: relative;
  top: 24px;
  color: white;
  text-shadow: 1px 1px black;
  letter-spacing: .1px;
}


.toggle-button, .toggle-button-selected { 
  background-color: white; 
  margin: 5px 0; 
  border-radius: 20px; 
  border: 2px solid #D0D0D0; 
  height: 24px; 
  cursor: pointer; 
  width: 50px; 
  position: absolute;
  display: inline; 
  user-select: none; 
  -webkit-user-select: none;  
  -ms-user-select: none; 
  -moz-user-select: none; 
  }
  
  
.toggle-button button { 
  cursor: pointer; 
  outline: 0; 
  display:block; 
  position: absolute; 
  left: 0; 
  top: 0; 
  border-radius: 100%; 
  width: 30px; 
  height: 30px; 
  background-color: white; 
  float: left; 
  margin: -3px 0 0 -3px; 
  border: 2px solid #D0D0D0; 
  transition: left 0.3s; 
  }
  
.toggle-button-selected { 
  background-color: $light-blue; 
  border: 2px solid #D0D0D0; 
/*
  position: relative;
  top: 48px;
  left: 900px;
*/
}

.toggle-button-selected button { 
  left: 26px; 
  top: 0; 
  margin: 0; 
  border: none; 
  width: 24px; 
  height: 24px; 
  box-shadow: 0 0 4px rgba(0,0,0,0.1); 
  }


.date-error-message {
  text-align: center;
  position: relative;
  top: 125px;
  color: white;
  text-shadow: 1px 1px black;
  letter-spacing: .1px;

}











//////////////ABOUT/////////////

.about-page {
  background-color: $light-orange;
  padding-bottom: 100px;
}



.about-page .page-box {
  @include display(flex);
  @include flex-direction(row);
}


.about-page h1 {
  margin-left: 0;
}

.about-sidebar {
  width: 300px;
  margin-top: 30px;
  margin-right: 30px;
  @include flex(3);

}

.picture {
  margin-right: 10px;
  width: 250px;
}


.body-text p {
    @include body-copy;
}

@media (max-width: 599px) {
  .body-text p {
    @include body-copy-smallphones;
  }
}  

@media (min-width: 600px) and (max-width: 999px) {
  .body-text p {
    @include body-copy-bigphones;
  }
}  


.body-text p:last-child {
  margin-bottom: 75px;
}











//////////////COMPOSERS/////////////

.composers-page {
  background-color: tint($pink, 90%);
  padding-bottom: 100px;
    }




.composer-list {
  @include display(flex);
  @include flex-direction(row);
  
}

.composer-column {
  @include flex(1);
  margin: 0 30px 0 30px;
}

.letters {
  font-size: 32px;
  font-weight: bold;
  font-family: $rob;
  letter-spacing: 15px; 
}  

.alphabet {
  margin-left: 30px;
}

.letter-header {
  @include body-copy;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 20px;
  border-top: 1pt $light-grey solid;
  padding-top: 5px;
  margin-top: 30px !important;
}

.composer-letter-group {
    @include body-copy;
    p {
      margin: 5px 0px;
        }
}

@media (max-width: 599px) {
.composer-letter-group {
    @include body-copy-smallphones;
    p {
      margin: 10px 0px;
        }
      }
}

@media (min-width: 600px) and (max-width: 999px) {
.composer-letter-group {
    @include body-copy-smallphones;
    p {
      margin: 10px 0px;
        }
      }
}


  
//////////////EVENTS/////////////
.events-page {
  background-color: $light-light-blue;
}




//////////////LINKS/////////////
.links-page {
  background-color: $light-grey;
  padding-bottom: 100px;
}

.links-content {
  @include display(flex);
  @include flex-direction(row);
 
}

.links-page .column-1 {
  @include flex(1);
  margin: 0 30px 0 30px;
}

.links-page .column-2 {
  @include flex(1);
  margin: 0 30px 0 30px;
}


//////////////SOURCES/////////////
.resources-page {
  background-color: tint($light-grey, 40%);
  padding-bottom: 100px;
}






//////////////CONTACT/////////////

.contact-page {
  background-color: tint($dark-blue, 30%);
  padding-bottom: 100px;
}


.contact-submit-button {
  @include button;
  float: right;
}

.contact-form {
  width: 500px; 
  margin: 0 auto;
}

.contact-form-field {
  display: block;
  font-size: 26px;
  font-family: courier;
  margin-bottom: 20px;
  width: 500px;
  padding-left: 5px;
  border-radius: 5px;
  border: 2px $light-grey solid;
  background-color: tint($light-blue, 95%);
}

.contact-message-field {
  height: 200px;
}

.notice, .alert {
  @include body-copy;
  color: $pink;
  width: 500px; 
  margin: 0 auto;
}

