<div class="footer">
  <div class="footer-separator">
  </div>
  <div class="footer-body">
    <a class="back-to-top" href="#page_top">back to top</a>
    <div class="headline">Today in Music History: <%= todays_formatted_date_no_year %></div>
    <%= render partial: "common/footer_event", locals: {event: @random_event} %>
    <%= button_to "more events", events_path, class: "more-events-button", method: "get"  %>
  </div>
</div>
